.introduction {
	text-align: center;
}

.overview {
    font-size: 16px;
    line-height: 1.6;
    margin-right: 5%;
    margin-left: 5%
}
.row {
	margin-top: 30px;
}


.clip {
	margin-bottom: 16px;
	padding: 5px;
	border: 1px solid #d3d3d3;
	}


@media screen and (max-width: 769px){
	.clip {
		height: 250px;
		max-width: 250px;
		margin: 0 auto;
	}
    .project {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 770px){
	.clip {
		height: 250px;
	}
}
