.introduction {
	text-align: center;
}

img {
	margin-bottom: 16px;
	padding: 5px;
	border: 1px solid #d3d3d3;
	}
@media screen and (max-width: 769px){
	.img-responsive {
		height: 250px;
		max-width: 250px;
		margin: 0 auto;
	}
	.btn {
		margin-bottom: 20px;
	}
	.tempName {
		font-size: 1.4em;
	}
}
@media screen and (min-width: 770px){
	.img-responsive {
		height: 250px;
	}
}
