.navbar {
	background-color: #caebf2;
	margin-bottom: 5px;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #ff3b3f;
}

.jumbotron{
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;

}

.tagline {
	color: #ff3b3f;
}

#mainContent {
	margin: 15px;



}
.mainImage {
	padding: 0;

}


.introduction {
	text-align: left;
	line-height: 1.2;
}
.contentIntro {
	line-height: 1.4;
	font-size: 1em;
	text-align: left;
	max-width: 600px;

}
.templateDesign {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #caebf2;
	border-radius: 5px;*/

}
.tempName {
	color: #ff3b3f;
}

footer {
	background-color: #caebf2;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 5px;
}

footer a {
	padding-right: 8px;
}

@media screen and (max-width: 767px){
	.megan{
		margin: 0 auto;
		width: 55%;
		height: 70%;
	}
	.aboutMe {
		margin-top: 15px;
		max-height: 350px;
	}
	.footerCopy {
		display: none;
	}
	footer a {
		padding-right: 2px;
	}
}

@media screen and (min-width: 768px){
	.megan {
		margin: 0 auto;
		width: 65%;
		height: 80%;
	}

	.aboutMe{
		max-width: 64%;
	}

}
@media screen and (min-width: 910px) {
	.megan {
		margin: 0 auto;
	}
}
