.navbar {
	background-color: #caebf2;
	margin-bottom: 5px;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #ff3b3f;
}
a:active {
	background-color: #efefef;
}

.jumbotron{
	border-radius: 5px;
	margin-bottom: 20px;
}
.tagline {
	color: #ff3b3f;
}

#mainContent {
	margin: 15px;

}
.mainImage {
	padding: 0;

}

.aboutMe {
	border: 2px solid #caebf2;
	border-radius: 5px;

}
.introduction{
	color: #ff3b3f;
}

.contentIntro {
	font-size: 1em;
}
.templateDesign {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #caebf2;
	border-radius: 5px;
	color: #a9a9a9;
}
.tempName {
	color: #ff3b3f;
}

footer {
	background-color: #caebf2;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 5px;


}
@media screen and (max-width: 767px){
	.megan{
		margin: 0 auto;
	}
	.aboutMe {
		margin-top: 15px;
		max-height: 350px;
	}
	.footerCopy {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 909px){
	.megan{
		height: 75%;
	}
	.aboutMe{
		margin-left: 15px;
		max-width: 64%;
	}
}
